*{
    font-family: "Poppins", sans-serif;
}

.font-bangla{
    font-family: "Hind Siliguri", sans-serif;
}
.active {
  background-color: #422AD5 !important;
  color: white !important;
  border: none !important;
}